.button {
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  color: $color-dark;
  cursor: pointer;
  border: 2px solid $color-dark;
  @extend %transition;

  &:hover {
    background-color: $color-dark;
    color: $color-light;
  }

  &:active {
    color: $color-dark;
    background-color: $color-light;
    border: 2px solid $color-dark;
  }

  &_colored {
    background-color: $color-dark;
    color: $color-light;
    border: 2px solid $color-dark;

    &:hover {
      background-color: $color-light;
      color: $color-dark;
    }

    &:active {
      color: $color-light;
      background-color: $color-dark;
      border: 2px solid $color-dark;
    }
  }
}
