.button {
  padding: 5px 20px;
  border-radius: 20px;
  color: $color-dark;
  cursor: pointer;
  border: 2px solid $color-dark;

  &:hover {
    background-color: $color-dark;
    color: $color-light;
  }

  &:active {
    color: $color-dark;
    background-color: $color-light;
    border: 2px solid $color-dark;
  }
}
