$color-light: #ffffff;
$color-dark: #444444;

$color-technology: #e03e3d;
$color-exclusive: #173a56;
$color-best: #54999a;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
