%transition {
  transition: all 0.3s ease-out;
}

%font-prim {
  font-family: "Arial", "Roboto", sans-serif;
}

%font-add {
  font-family: "Georgia", "PT Serif", serif;
}

%shadows {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
